<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.snow.pojo.Address" id="address">
        <property name="address" value="London"/>
    </bean>

    <bean class="com.snow.pojo.Student" id="student">
        <property name="name" value="胡士扬"/>

        <property name="address" ref="address"/>

        <property name="books">
            <array>
                <value>《繁花雪夜》</value>
                <value>《ACC的梦》</value>
                <value>《不知名的扬》</value>
            </array>
        </property>

        <property name="hobbys">
            <list>
                <value>doi</value>
                <value>see movies</value>
                <value>hit codes</value>
            </list>
        </property>

        <property name="card">
            <map>
                <entry key="IdCard" value="11112222333444777"></entry>
                <entry key="BankCard" value="11112222333444777"></entry>
            </map>
        </property>

        <property name="games">
            <set>
                <value>Lol</value>
                <value>CSGO</value>
                <value>BoB</value>
            </set>
        </property>

        <property name="wife">
            <null/>
        </property>

        <property name="info">
            <props>
                <prop key="StuId">123454321</prop>
                <prop key="sex">man</prop>
                <prop key="age">nine</prop>
            </props>
        </property>
    </bean>


</beans>